<html>
<head>
<META http-equiv="Content-Type" content="text/html">
<style type="text/css">
		h1, h2, h3, h4, h5, h6 { 
			font-family : segoe ui;
			color : black;
			background-color : #EDE7D9;
			padding: 0.3em;
		}

		h1 {
			font-size: 1.2em;
		}		

		h2 {
			font-size: 1.2em;
		}

		body { 
			font-family : segoe ui;
		}

		td, th {  
			padding: 0.5em;
			text-align : left;
		}
		th { 
			background-color : #EEEEEE;
		
		}
		th.column1, td.column1 { 
			width : 50%; 
		}

        th.column2, td.column2 {
            width : 25%;
        }

		table { 
			width : 100%; 
            font-size: 0.9em;
		}
		.front_matter, .front_matter_column1, .front_matter_column2, .front_matter_column3
		{
			left : 0;
			top : 0;
			padding: 0em;
			padding-top : 0.1em;
			border : 0px solid black;
			width : 100%;
			vertical-align: top;
			text-align: left;
		}

		.front_matter_column1 {
			width : 5em;
			font-weight: bold;
		}

		.front_matter_column2 {
			width: 0.1em;
		}

		.front_matter_column3 {
			width : auto;
		}

		.total_column1, .total_column {
			font-weight : bold;
		}
		.total_column1 {
			text-align : left;
		}
		.warning, .error { 
			color : red;
			font-weight : bold;
		}	
		tr.onmouseout_odd { 
			background-color : #white;
		}
		tr.onmouseout_even { 
			background-color : #FAFAFA;
		}
		tr.onmouseover_odd, tr.onmouseover_even { 
			background-color : #EEEEEE;
		} 
		a:link, a:visited, .q a:link,.q a:active,.q {
			color: #21489e; 
		}
		a:link.callback, a:visited.callback { 
			color: #21489e;
		}
		a:link.customize, a:visited.customize {
			color: #C0C0C0;
			position: absolute; 
			right: 10px;
		}	
		p.contents_level1 {
			font-weight : bold;
			font-size : 110%;
			margin : 0.5em;
		}
		p.contents_level2 {
			position : relative;
			left : 20px;
			margin : 0.5em;
		}
	</style><script type="text/javascript">
		function coordToMils(coord) {
			var number = coord / 10000;
			
			if (number != number.toFixed(3))
				number = number.toFixed(3);
			
			return number + 'mil'
		}

		function coordToMM(coord) {
			var number = 0.0254 * coord / 10000;
			
			if (number != number.toFixed(4))
				number = number.toFixed(4);
			
			return number + 'mm'
		}
	
		function convertCoord(coordNode, units) {
			for (var i = 0; i < coordNode.childNodes.length; i++) {
				coordNode.removeChild(coordNode.childNodes[i]);		
			}

			var coord = coordNode.getAttribute('value');
			if (coord != null) {
				if (units == 'mm') {	
					textNode = document.createTextNode(coordToMM(coord));
					coordNode.appendChild(textNode);
				} else if (units == 'mil') {
					textNode = document.createTextNode(coordToMils(coord));		
					coordNode.appendChild(textNode);	
				}
			}
		}
	
		function convertUnits(unitNode, units) {
			for (var i = 0; i < unitNode.childNodes.length; i++) {
				unitNode.removeChild(unitNode.childNodes[i]);		
			}
		
			textNode = document.createTextNode(units); 
			unitNode.appendChild(textNode);
		}
	
		function changeUnits(radio_input, units) {
			if (radio_input.checked) {
			
				var elements = document.getElementsByName('coordinate');
				if (elements) {
					for (var i = 0; i < elements.length; i++) {
						convertCoord(elements[i], units);
					}
				}
	
				var elements = document.getElementsByName('units');
				if (elements) {
					for (var i = 0; i < elements.length; i++) {
						convertUnits(elements[i], units);
					}
				}
			}
		}	
	</script><title>Board Information Report</title>
</head>
<body onload=""><img ALT="Altium" src="
			file://C:\Users\Public\Documents\Altium\AD23\Templates\AD_logo.png
		"><a href="dxpprocess://Client:SetupPreferences?Server=PCB|PageName=Reports" class="customize"><acronym title="dxpprocess://Client:SetupPreferences?Server=PCB|PageName=Reports">customize</acronym></a><h1>Board Information Report</h1>
<table class="front_matter">
<tr class="front_matter">
<td class="front_matter_column1">Date:</td>
<td class="front_matter_column2"></td>
<td class="front_matter_column3">3/12/2024</td>
</tr>
<tr class="front_matter">
<td class="front_matter_column1">Time:</td>
<td class="front_matter_column2"></td>
<td class="front_matter_column3">12:00:53 AM</td>
</tr>
<tr class="front_matter">
<td class="front_matter_column1">Elapsed Time:</td>
<td class="front_matter_column2"></td>
<td class="front_matter_column3">00:00:01</td>
</tr>
<tr class="front_matter">
<td class="front_matter_column1">Filename:</td>
<td class="front_matter_column2"></td>
<td class="front_matter_column3"><a href="file:///B:\USER\Desktop\UdeS_S7_APP1\Layout\Pleiades_Frouf.PcbDoc" class="file"><acronym title="B:\USER\Desktop\UdeS_S7_APP1\Layout\Pleiades_Frouf.PcbDoc">B:\USER\Desktop\UdeS_S7_APP1\Layout\Pleiades_Frouf.PcbDoc</acronym></a></td>
</tr>
</table><a name="IDLQ3TGZ3KEYN4CY5U1D2NLA4J1MBWFM0OTOILAKBVHJ31MITD3VNK"><h2>Contents</h2></a><p class="contents_level1"><a href="#IDLQ3TGZ3KEYN4CY5U1D2NLA4J1MBWFM0OTOILAKBVHJ31MITD3VNK">Contents</a></p>
<p class="contents_level1"><a href="#IDOMH2VI3ZG2BLPSGVFWNWMM0CLN5XJ0DLAGNVAGSM0UAUQIVVVVN">Routing</a></p>
<p class="contents_level2"><a href="#ID4TVYRVIMK4TVF5DNKH0JA0DB4HNLORATXMGXXRBLOWNNOBBRYE3H">Routing Information<br></a></p>
<p class="contents_level1"><a href="#IDFJTW3AXNNCVTIDYJY5JEDDE53NW0XVZWDTGK2YL42LWPC3JMLQED">Layer Information</a></p>
<p class="contents_level2"><a href="#IDITSM3IZDE5YDF24GILNL1PQSLN1W5YL0GEXYZEHRV5DDPFJFRZRF">Layer Information<br></a></p>
<p class="contents_level1"><a href="#IDXZJ5X4DJVAXRIKODM5VMVNSVOO5OALUVRNXVQ0JEBNSRSTVJ3LYO">Copper Area</a></p>
<p class="contents_level2"><a href="#IDO5CSDCC4XUYKLMKF0BDNHW2BLPH12O1OHUHNMAOM21INDETS5N0E">Copper Area<br></a></p><br><a name="IDOMH2VI3ZG2BLPSGVFWNWMM0CLN5XJ0DLAGNVAGSM0UAUQIVVVVN"><h2>Routing</h2></a><a name="ID4TVYRVIMK4TVF5DNKH0JA0DB4HNLORATXMGXXRBLOWNNOBBRYE3H"><table>
<tr>
<th style="text-align : left" colspan="2" class="">Routing Information</th>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">Routing completion</td>
<td class="column2">62.07%</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">Connections</td>
<td class="column2">3201</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">Connections routed</td>
<td class="column2">1987</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">Connections remaining</td>
<td class="column2">1214</td>
</tr>
</table></a><hr color="#EEEEEE"><a href="#top" style="font-size: 0.9em">Back to top</a><br><br><a name="IDFJTW3AXNNCVTIDYJY5JEDDE53NW0XVZWDTGK2YL42LWPC3JMLQED"><h2>Layer Information</h2></a><a name="IDITSM3IZDE5YDF24GILNL1PQSLN1W5YL0GEXYZEHRV5DDPFJFRZRF"><table>
<tr>
<th class="column1">Layer</th>
<th class="column2">Arcs</th>
<th class="column3">Pads</th>
<th class="column4">Vias</th>
<th class="column5">Tracks</th>
<th class="column6">Texts</th>
<th class="column7">Fills</th>
<th class="column8">Regions</th>
<th class="column9">ComponentBodies</th>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">TOP</td>
<td class="column2">94</td>
<td class="column3">3383</td>
<td class="column4">0</td>
<td class="column5">5268</td>
<td class="column6">1</td>
<td class="column7">0</td>
<td class="column8">16</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">GND1</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">1</td>
<td class="column7">0</td>
<td class="column8">6</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">IN1</td>
<td class="column2">336</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">611</td>
<td class="column6">1</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">GND2</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">1</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">POW1</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">1</td>
<td class="column7">0</td>
<td class="column8">5</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">GND3</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">1</td>
<td class="column7">0</td>
<td class="column8">2</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">POW2</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">1</td>
<td class="column7">0</td>
<td class="column8">4</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">GND4</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">1</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">GND5</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">1</td>
<td class="column7">0</td>
<td class="column8">1</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">IN2</td>
<td class="column2">347</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">694</td>
<td class="column6">1</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">GND6</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">1</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">BOT</td>
<td class="column2">118</td>
<td class="column3">766</td>
<td class="column4">0</td>
<td class="column5">2577</td>
<td class="column6">1</td>
<td class="column7">0</td>
<td class="column8">15</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">Bottom Courtyard</td>
<td class="column2">17</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">144</td>
<td class="column6">0</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">Top Courtyard</td>
<td class="column2">17</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">694</td>
<td class="column6">0</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">3</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">Bottom Assembly</td>
<td class="column2">13</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">1902</td>
<td class="column6">0</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">10</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">Top Assembly</td>
<td class="column2">237</td>
<td class="column3">4</td>
<td class="column4">0</td>
<td class="column5">6228</td>
<td class="column6">14</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">49</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">Route Tool Path</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">0</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">Panel V-Grove</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">0</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">Panel Outline</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">0</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">Assembly Notes</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">0</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">Manufacturing Notes</td>
<td class="column2">5</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">36</td>
<td class="column6">8</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">Bottom Designator</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">678</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">Top Designator</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">1881</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">Dimensions</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">32</td>
<td class="column6">4</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">Top 3D Body</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">0</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">780</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">Bottom 3D Body</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">0</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">324</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">Title</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">42</td>
<td class="column6">38</td>
<td class="column7">0</td>
<td class="column8">5</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">Board Outline</td>
<td class="column2">35</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">189</td>
<td class="column6">1</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">38</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">Multi-Layer</td>
<td class="column2">0</td>
<td class="column3">262</td>
<td class="column4">1676</td>
<td class="column5">0</td>
<td class="column6">0</td>
<td class="column7">0</td>
<td class="column8">2</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">Drill Guide</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">0</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">Keep-Out Layer</td>
<td class="column2">4</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">40</td>
<td class="column6">0</td>
<td class="column7">1</td>
<td class="column8">2</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">Drill Drawing</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">0</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">Top Paste</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">0</td>
<td class="column7">91</td>
<td class="column8">15</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">Top Overlay</td>
<td class="column2">253</td>
<td class="column3">3</td>
<td class="column4">0</td>
<td class="column5">5398</td>
<td class="column6">2228</td>
<td class="column7">0</td>
<td class="column8">3</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">Top Solder</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">0</td>
<td class="column7">1</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">Bottom Solder</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">0</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">Bottom Overlay</td>
<td class="column2">49</td>
<td class="column3">1</td>
<td class="column4">0</td>
<td class="column5">1916</td>
<td class="column6">726</td>
<td class="column7">0</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">Bottom Paste</td>
<td class="column2">0</td>
<td class="column3">0</td>
<td class="column4">0</td>
<td class="column5">0</td>
<td class="column6">0</td>
<td class="column7">20</td>
<td class="column8">0</td>
<td class="column9">0</td>
</tr>
<tr>
<td style="font-weight : bold; text-align : right" class="column1">Total</td>
<td style="font-weight : bold" class="column2">1525</td>
<td style="font-weight : bold" class="column3">4419</td>
<td style="font-weight : bold" class="column4">1676</td>
<td style="font-weight : bold" class="column5">25771</td>
<td style="font-weight : bold" class="column6">5590</td>
<td style="font-weight : bold" class="column7">113</td>
<td style="font-weight : bold" class="column8">76</td>
<td style="font-weight : bold" class="column9">1204</td>
</tr>
</table></a><hr color="#EEEEEE"><a href="#top" style="font-size: 0.9em">Back to top</a><br><br><a name="IDXZJ5X4DJVAXRIKODM5VMVNSVOO5OALUVRNXVQ0JEBNSRSTVJ3LYO"><h2>Copper Area</h2></a><a name="IDO5CSDCC4XUYKLMKF0BDNHW2BLPH12O1OHUHNMAOM21INDETS5N0E"><table>
<tr>
<th class="column1">Layer</th>
<th class="column2">Sq.In.</th>
<th class="column3">Sq.MM.</th>
<th class="column4">Percent of layer</th>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">TOP</td>
<td class="column2">8.912</td>
<td class="column3">5749.949</td>
<td class="column4">17%</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">GND1</td>
<td class="column2">44.495</td>
<td class="column3">28706.342</td>
<td class="column4">87%</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">IN1</td>
<td class="column2">1.709</td>
<td class="column3">1102.295</td>
<td class="column4">3%</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">GND2</td>
<td class="column2">1.407</td>
<td class="column3">907.911</td>
<td class="column4">3%</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">POW1</td>
<td class="column2">17.679</td>
<td class="column3">11406.103</td>
<td class="column4">34%</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">GND3</td>
<td class="column2">5.527</td>
<td class="column3">3565.749</td>
<td class="column4">11%</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">POW2</td>
<td class="column2">44.852</td>
<td class="column3">28936.458</td>
<td class="column4">87%</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">GND4</td>
<td class="column2">1.407</td>
<td class="column3">907.911</td>
<td class="column4">3%</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">GND5</td>
<td class="column2">3.407</td>
<td class="column3">2198.031</td>
<td class="column4">7%</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">IN2</td>
<td class="column2">1.733</td>
<td class="column3">1117.907</td>
<td class="column4">3%</td>
</tr>
<tr class="onmouseout_odd" onmouseover="className = 'onmouseover_odd'" onmouseout="className = 'onmouseout_odd'">
<td class="column1">GND6</td>
<td class="column2">1.407</td>
<td class="column3">907.911</td>
<td class="column4">3%</td>
</tr>
<tr class="onmouseout_even" onmouseover="className = 'onmouseover_even'" onmouseout="className = 'onmouseout_even'">
<td class="column1">BOT</td>
<td class="column2">8.714</td>
<td class="column3">5622.038</td>
<td class="column4">17%</td>
</tr>
<tr>
<td style="font-weight : bold; text-align : right" class="column1">Total</td>
<td style="font-weight : bold" class="column2">141.249</td>
<td style="font-weight : bold" class="column3">91128.605</td>
<td style="font-weight : bold" class="column4"></td>
</tr>
</table></a><hr color="#EEEEEE"><a href="#top" style="font-size: 0.9em">Back to top</a><br><br></body>
</html>
